body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.to-do-list {
    width: 100%;
    max-width: 420px;
    background-color: #fff;
    padding: 25px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
}

.add-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #444;
    margin: 0;
}

#taskInput {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#taskInput:focus {
    border-color: #007bff;
    outline: none;
}

#btnTask {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#btnTask:hover {
    background-color: #45a049;
}

#taskList {
    margin-top: 20px;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.delete-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.task input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.task label {
    flex-grow: 1;
    font-size: 18px;
    color: #333;
}

.task input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #888;
}
